body{
    background-color: grey;
}
.main{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    grid-template-rows: 60px 300px 60px;
    grid-gap:10px;
    grid-template-areas: 
    "h h h h h"
    "sb1 m m m sb2"
    "f f f f f";
}
.header{
    grid-area:h;
}
.sidebar1{
    grid-area: sb1;
}
.maincontent{
    grid-area: m;
}
.sidebar2{
    grid-area: sb2;
}
.footer{
    grid-area: f;
}
.main div{
    display:grid;
    justify-content: center;
    align-items: center;
    border:1px solid black;
    background-color: rgb(236, 172, 172);
    font-size: larger;
    font-family: impact;
}